:root {
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Style for the logo container */
.logo-image {
    width: 10vw; /* Default width */
    height: 10vw; /* Default height */
    border-radius: 50%; /* Make it a circle */
    overflow: hidden;
    min-width: 40px; /* Minimum width in pixels for small screens */
    min-height: 40px; /* Minimum height in pixels for small screens */
    max-width: 50px; /* Maximum width in pixels for large screens */
    max-height: 50px; /* Maximum height in pixels for large screens */
    margin: 2vh 0; /* Responsive vertical margin */
}

/* Style for the image inside the container */
.logo-image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Scale the image to cover the container */
    object-position: center; /* Center the image within the container */
}

/* Media query for extra-large screens (TVs) */
@media (min-width: 1200px) {
    .logo-image {
        width: 6vw;
        height: 6vw;
        margin: 1vh 0; /* Adjusted vertical margin */
    }
}

/* Media query for large screens (Desktops, large laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .logo-image {
        width: 7vw;
        height: 7vw;
        margin: 1vh 0; /* Adjusted vertical margin */
    }
}

/* Media query for medium screens (Laptops, tablets in landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-image {
        width: 8vw;
        height: 8vw;
        margin: 1vh 0; /* Adjusted vertical margin */
    }
}

/* Media query for small screens (Tablets in portrait, large smartphones) */
@media (min-width: 576px) and (max-width: 767px) {
    .logo-image {
        width: 9vw;
        height: 9vw;
        margin: 1vh 0; /* Adjusted vertical margin */
    }
}

/* Media query for extra-small screens (Small smartphones) */
@media (max-width: 575px) {
    .logo-image {
        width: 10vw;
        height: 10vw;
        margin: 1vh 0; /* Adjusted vertical margin */
    }
}

.aspect-ratio-192-59 {
    width: 100vw;
    height: calc(85vw * 59 / 192);
    max-width: 100vw;
    min-width: 30vw;
    max-height: calc(85vw * 59 / 192);
    min-height: calc(30vw * 59 / 192);
    object-fit: cover;
    object-position: center;
}

.aspect-ratio-16-9 {
    width: 100%;
    height: auto;
    max-width: 100vw;
    min-width: 20vw;
    max-height: calc(100vw * 9 / 16);
    min-height: calc(20vw * 9 / 16);
    object-fit: cover;
    object-position: center;
}

.h-font {
    font-family: 'Merienda', cursive;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 1111;
}

.no-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    width: 100%;
    text-align: center;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 0.4rem; /* Extremely small for very tiny screens */
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 5rem; /* Slightly larger, but still very small */
    }
}